tweet_cap_tmp.jpg
mmf-res-*
JoyToKey.log
GPUCache/
Code Cache/
Session Storage/
Player.log
LOCK
Player-prev.log
tools/make_spec.lua
tools/spec2js.js
ＰＣレポート.txt
setup.xml
soundconf.xml
Settings_Error.json
System.ini
*.rbt
*.zip
*.rar
*.tar
*.tar.gz
*.tar.xz
*.tar.zst
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
# Dump file
*.stackdump
# Folder config file
[Dd]esktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows shortcuts
*.lnk

UO/Saved/Config/